<
  <!-- 001 -->
 <div class="intro">
        <h1>Emmanuel Ilerioluwa AJAYI</h1>
        <em>
          <p>13, Fashina street, Orogun, Ibadan, Nigeria, 200213, <br /> +2348135662927, ajayiemmy241@gmail.com
          </p>
        </em>
       

        <div class="myimg">

          <img src="src/assets/images/IMG_1674.jpeg" style="width:40%" alt="potrait image">

          <!-- <div class="slideshow-container">

          <div class="mySlides fade">
            <img src="../assets/img/IMG_1672.jpeg" style="width:100%">
          </div>

          <div class="mySlides fade">
            <img src="img/IMG_1674.jpeg" style="width:100%">
          </div>

          <div class="mySlides fade">
            <img src="img/IMG_4989.jpeg" style="width:100%">
          </div>

          <div class="mySlides fade">
            <img src="img/IMG_9226.jpeg" style="width:100%">
          </div> -->

        </div>
        <br>

        <!-- <div style="text-align:center">
          <span class="dot"></span>
          <span class="dot"></span>
          <span class="dot"></span>
          <span class="dot"></span>
        </div> -->

        </div>

  <!-- 002 -->
  

      <div class="objective">
        <h2>Objective</h2> <br>
        <p class="objtext">I am seeking to secure a challenging position in a growth oriented organization, where my
          technical, management, programming, communication skills and experience will be further developed and utilized
          to
          bring about meaningful
          and positive
          contribution to the company.</p>
      </div>
   

  <!-- 003 -->
  
      <div class="education">
        <h2>Education</h2> <br>
        <h4>2017 – 2021</h4>
        <p>Obafemi Awolowo University, Ile-Ife, Osun State (BSc.)</p>
        <h4>2010 – 2016</h4>
        <p>Distinct Jubilee International College, Ibadan, Oyo State (SSCE)</p>
      </div>




    <!-- 004 -->
  
        <div class="employment">
          <h2>Employment</h2> <br>
          <h4>Administrative Officer. Samdosol International.</h4>
          <h4>2020 – present</h4>

          <p>Direct and mentor administrative staff to achieve maximum output.</p>
          <p>Schedule meetings and booking conference rooms and attend to queries.</p>
          <p>Conducts special studies, presents briefs and reports and recommend/or review new policies or procedures as may be required to provide improved efficiency.</p>
          <p>Management of office supplies stock and organization of a filing system for important and confidentia company documents.</p>
          <p>Prepare regular reports on expenses and office budgets and also maintain a company calendar.</p>
          <p>Performs other duties as assigned.</p>

          <br>

          <h4>Sales Attendant, Awka Friendly Gas.
          </h4>
          <h4>2016 – 2017</h4>

          <p>Greets customers and provides excellent customer service.</p>
          <p>Selling gas at the pump, handling cash transactions, and maintaining records of sales.</p>
          <p>Cleaning and maintaining the facility, including restocking merchandise such as cylinders, burners and gas regulators.</p>
          <p>Providing customers with information about current gas prices, promotions, and discounts available at the station and general customer service.</p>
          <p>Maintaining accurate records of transactions including gas purchases and returns.</p>

        </div>



        <div class="volunteer">
          <h2>Volunteer</h2> <br>
          <h4>Director of Programs</h4>
          <p>Annual Economics Students’ Conference (AESC 8.0), Department of Economics | Obafemi Awolowo University.</p>

          <br>

          <h4>Member</h4>
          <p>Social Committee, AESC 7.0 | Obafemi Awolowo University.
          </p>
          <p>Publicity Team, Protocol Team, AESC 6.0 | Obafemi Awolowo University.</p>
          <p>Protocol Team, AESC 5.0 | Obafemi Awolowo University.</p>
          <p> Economics Student Representative Council (ESRC) | Obafemi Awolowo University.</p>
          <p>Nigerian Economics Students’ Association - NESA Foundation | Obafemi Awolowo
            University</p>

        </div>
     


    <!-- 005 -->
    
        <div class="cert">
          <h2>Certification(s)</h2> <br>
          <p>The Fundamentals of Digital Marketing - Google Digital Skills for Africa</p>
        
        </div>
    


    <!-- 006 -->

        <div class="skills">
          <h2>Skills</h2> <br>
          <p>Microsoft Office</p>
          <p>Computer Proficiency</p>
          <p>Communivation Skills</p>
          <p>Teamwork</p>
          <p>Customer Service Skills</p>
          <p>Critical Thinking and Problem-solving Skills</p>
          <p>Organizational Proficiency</p>
          <p>Effective Time Management</p>
          
        </div>
    


    <!-- 007 -->

        <div class="reference">
          <em>
            <p>Reference(s) Available on Request.</p>
          </em>
        
  <!-- <script src="js/index.js"></script> -->


<router-outlet></router-outlet>
